#contacts-page {
    display: grid;
    grid-template-columns: 2fr 5fr;
    position: relative;
    height: 100vh;
}

.contacts-main {
    width: 100%;
    padding : 200px 20px 20px 20px;
    background: linear-gradient(90deg, #005, #001, #001);
}

.aside-left-contacts {
    background: #005;
}

.contacts-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-contacts {
    display: flex;
    width: 100%;
}
.title-contacts > div {
    flex: 1;
}
.contacts-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.contacts-content > div {
    flex: 1;
    height: 550px;
}
.contacts-content > div > div {
    z-index: 20;
}
.contacts-content > div.legend-contacts-content {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 55;
    left: 0;
    top: 0;
}
.contacts-content > div.legend-contacts-content > div {
    position: absolute;
    bottom: 0;
    right: 20px;
}

