#done-projects-page{
    display: grid;
    position: relative;
    grid-template-columns: 2fr 3fr 2fr;
    height: 100vh;
}
.done-projects-main {
    width: 100%;
    padding : 200px 20px 20px 20px;
    background: linear-gradient(90deg, #005, #001);
}
.aside-projects-right {
    padding : 200px 20px 20px 20px;
    width: 100%;
}
.aside-projects-left{
    width: 100%;
    height: 100%;
    background: #005;
}
.aside-projects-left > div.first-left-item {
    margin-top: 200px;
}

.video-container {
    background: transparent;
    margin: 20px 0;
    height: 300px;
    border-radius: 20px;
}

.project-container {
    padding: 20px;
    background: transparent;
    margin: 20px 0;
    height: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-container > img {
    width: 100%;
    height: 100%;
}

.aside-projects-right > div {
    border-bottom: 4px solid #003;
    cursor: pointer;
}
.aside-projects-right > div.first-div-aside-right {
    margin-top: 200px;
}